.alert{
	display: block;
	width: 100%;
	height: 40px;
	color: white;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 10px;
	background: $red;
}

.progress {
  width: 100%;
  height: 50px;
  @include grid-col(12);

	@include breakpoint(1250px down) {
		@include grid-col(11);
		left: 5%;
		right: 5%;
		margin-bottom: 20px;
	}

}
.progress-wrap {
  background: #669999;
  margin: 20px 0;
  margin-bottom: 40px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  .progress-bar {
    background: white;
    left: 0;
    position: absolute;
    top: 0;
    font-size: 22px;
    padding-top: 15px;
  }
}


#time{
	@include grid-row();

	h2{
		margin-top: 30px;
		text-transform: uppercase;

		margin-left: 5%;
		margin-right: 5%;

		@include breakpoint(1250px down) {

		}
	}
	ul{
		li{
			@include grid-col(3.5);
			height: 80px;
			border-radius: 5px;
			float: left;

			@include breakpoint(1250px down) {
				@include grid-col(11);
				margin-left: 5%;
				margin-right: 5%;
				margin-bottom: 20px;
				clear: both;
			}

			h3{
				padding: 15px;
				color: white;
				font-size: 24px;
				span{
					padding-top: 5px;
					display: block;
					font-size: 18px;
					font-family: $regular;
				}
			}
		}
		li:nth-child(1){
			background: $orange;
		}
		li:nth-child(2){
			background: $red;
			margin-left: 6%;
			margin-right: 6%;

				@include breakpoint(1250px down) {
					margin-left: 5%;
					margin-right: 5%;
				}
		}
		li:nth-child(3){
			background: $secondary;
				@include breakpoint(1250px down) {
						margin-right: 3%;
				}
		}
	}
}

#tasks h2{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#overall h2{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#overall{
	img{
		
		display: block;
		margin: 0 auto;
			@include breakpoint(600px down) {
				width: 80%;
			}
	}

}

#tasks, #overall{

	@include grid-col(6);
	min-height: 200px;
	float: left;
	padding: 0 !important;

	@include breakpoint(1250px down) {
		@include grid-col(11);
		margin-left: 5%;
		margin-right: 5%;
	}
	h2{
		text-align: center;
		display: block;
		background-color: #003333;
		padding: 30px 0px 0px 0px;
		width: 100%;
		height: 80px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	ul{
		li{
			width: 100%;
			margin-top: 10px !important;
			border-bottom-color: white;
			border-bottom-style: solid;
		   	border-width: 1px;  
			height: 50px;
			display: block;
			margin: 0 auto;


			input[type='text']{
				background: none;
				color: white;
				width: 80%;
				height: 100%;
				padding: 20px;
			}


			@include breakpoint(1250px down) {
				input[type='text']{
					width: 80%;
				}	
			}
			input:focus{
    			outline: none;
			}
			span{
				width: 100%;
				height: 100%;
				.fa-minus-circle{
					color: $red;
					margin-left: 5%;
					font-size: 20px;
				}
				.fa-pencil{
					color: white;
					font-size: 20px;
				}
			}
		}
	}
	p{
		width: 100%;
		height: 80px;
		margin-top: 10px;
		margin-bottom: 20px;
		border-radius: 5px;
		background: $secondary;

		#add-task{
			padding: 20px;
			width: 90%;
			height: 100%;
			color: white;
			background: none;
			&::placeholder {
				color: white;
			}
		}

		@include breakpoint(1250px down) {
			#add-task{
				width: 84%;
			}	
		}

		.fa-plus-circle{
			font-size: 38px;
			position: relative;
			top: 10px;
		}
	}
}

