#time{
	@include grid-row();
	ul{
		li{
			@include grid-col(3.5);
			height: 80px;
			border-radius: 5px;
			margin-left: 4%;
			float: left;
			// border: solid 1px red;
		}
		li:nth-child(1){
			background: $orange;
		}
		li:nth-child(2){
			background: $red;
		}
		li:nth-child(3){
			background: $secondary;
		}
	}
}

#tasks, #overall{
	@include grid-col(6);
	height: 200px;
	float: left;
	border: solid 1px red;

	h2{
		text-align: center;
		display: block;
		background-color: #003333;
		padding: 30px 0px 0px 0px;
		width: 100%;
		height: 80px;
		text-transform: uppercase;
	}
}