header{
	width: 100%;
	height: 80px;
	padding-top: 20px;
	background-color: black;

	h1{
		text-align: center;
		font-size: 38px;
		padding-top: 5px;
		span{
			color: $secondary;
		}
	}
}

nav{
	@include grid-col(3);
	// /width: 250px;
	height: vh100;
	background: $secondary;
	ul{
		color: white;
		li{
			list-style-type: none;
			margin-bottom: 10px;
			text-align: center;
			ul{
				li{
					list-style-type: none;
				}
			}
		}
	}
}


section{
	@include grid-row();
	margin-bottom: 40px;
}